body {
    background-color: lightgray;
    font-family: "Verdana";
}

.title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-column {
    display: grid;
    align-items: center;
    gap: 0.5em;
    justify-self: stretch;
}

.button-grid {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    align-items: center;
    gap: 0.5em;
    justify-self: stretch;
}

.button {
    display: flex;
    position: relative;
    font: bold 18px Arial;
    text-decoration: none;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    background-color: #EEEEEE;
    color: #333333;
    box-sizing: border-box;
    max-width: 60em;
    max-height: 40em;
    min-height: 10em;
}

.emergency-name {
    text-align: center;
}

.emergency-number {
    text-align: center;
}

.overlay {
    position: absolute;
    /*display: none;*/
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: -1;
    /* Specify a stack order in case you're using a different order for other elements */
    color: darkgray;
    pointer-events: none;
}